html,
body {
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


a {
    text-decoration: 'none';
}

.gallery--paragraph--copyright {
    color: #b0b0b0;
    display: block;
    font-size: 11px;
    text-transform: uppercase;
}

.gallery--paragraph--copyright:before {
    content: "Source: ";
}